
#header {
  text-align: center;
  margin-top: 1em;
  padding-bottom: 1em;
  /* The following rule does exactly what I want it to (displays the header the right size) but seems like VERY bad practice. Note to self: do more research or ask around best practices for sizing headers. */
  font-size: 2.5em;
}

#calc-all {
  margin-left: 2em;
  margin-right: 2em;
}

#calc-grid {
  padding: .5em;
}


/* Possibly create button borders? Or a box shadow?*/
/* .button {
  border-style: solid;
  border-width: 1em;
} */

#calc-grid button {
  margin: -.25em;
  /* box-shadow: 0em 0.2em 0em inset; */
}

#num-input {
  text-align: right;
}

.operand {
  font-weight: bolder;
}